<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_test"
        android:label="navigation inertial test">

        <activity
            android:name="com.irurueta.android.navigation.inertial.test.LocationActivity"
            android:label="LocationActivity"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name="com.irurueta.android.navigation.inertial.test.collectors.CollectorsActivity"
            android:label="CollectorsActivity"
            android:theme="@style/Theme.AppCompat" />
    </application>
</manifest>